In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                  title  year
0           Burgtheater  1936
1  Main Hoon Angrakshak  2003
2        Faded Memories  2008
3            Cinema Six  2012
4      I Want Your Love  2012

In [34]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [8]:
movies_num = len(titles)
movies_num

244914

### What are the earliest two films listed in the titles dataframe?

In [14]:
#sort by year
earliest_films_df = titles.sort_values(by=['year'],ascending=True)

In [16]:
# get top 2 films and their name
earliest_films_df.head(2)['title']

118315            Miss Jerry
39646     The Startled Lover
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [19]:
len(titles[titles.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [20]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [23]:
titles[titles.title == 'Hamlet'].sort_values(by=['year']).head(1)['year']

62398    1910
Name: year, dtype: int64

In [ ]:
#1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [24]:
titles[titles.title == 'Treasure Island'].sort_values(by=['year'])

                  title  year
205649  Treasure Island  1918
51986   Treasure Island  1920
223647  Treasure Island  1934
190889  Treasure Island  1950
127416  Treasure Island  1972
794     Treasure Island  1973
21593   Treasure Island  1985
162422  Treasure Island  1999

### How many movies were made in the year 1950?

In [25]:
len(titles[titles.year == 1950])

1113

### How many movies were made in the year 1960?

In [26]:
len(titles[titles.year == 1960])

1549

In [29]:
len(titles[titles.year == 2017])

11474

### How many movies were made from 1950 through 1959?

In [30]:
len(titles[titles.year // 10 * 10 == 1950])

12934

### In what years has a movie titled "Batman" been released?

In [31]:
titles[titles.title == 'Batman'].sort_values(by=['year'])['year']

119880    1943
3879      1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [35]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [36]:
len(cast[cast.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [40]:
inception = (cast[cast.title == 'Inception'])
inception.head()

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0

In [42]:
len(inception[inception.n.isnull()])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [43]:
len(inception[inception.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [45]:
north_by_northwest = cast[cast.title == 'North by Northwest']
north_by_northwest.head()

,title,year,name,type,character,n
12668,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
29122,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
56389,North by Northwest,1959,Don Anderson,actor,Worker,NaN
56610,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
95950,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN

In [46]:
north_by_northwest[north_by_northwest.n.notnull()].sort_values(by=['n'])

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [53]:
sleuth_1972 = cast[(cast.title == 'Sleuth') & (cast.year == 1972)]
sleuth_1972.head()

,title,year,name,type,character,n
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0

In [54]:
sleuth_1972[sleuth_1972.n.notnull()].sort_values(by=['n'])

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [57]:
sleuth_2007 = cast[(cast.title == 'Sleuth') & (cast.year == 2007)]
sleuth_2007.head()

          title  year                 name   type          character    n
260242   Sleuth  2007      Kenneth Branagh  actor  Other Man on T.V.  NaN
326774   Sleuth  2007        Michael Caine  actor             Andrew  1.0
373877   Sleuth  2007  Alec (II) Cawthorne  actor  Inspector Doppler  NaN
1293634  Sleuth  2007             Jude Law  actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter  actor        Man on T.V.  3.0

In [58]:
sleuth_2007[sleuth_2007.n.notnull()].sort_values(by=['n'])

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [59]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [60]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [61]:
len(cast[cast.title == 'Hamlet'])

342

### How many people have played an "Ophelia"?

In [62]:
len(cast[cast.character == 'Ophelia'])

117

### How many people have played a role called "The Dude"?

In [63]:
len(cast[cast.character == 'The Dude'])

19

### How many people have played a role called "The Stranger"?

In [64]:
len(cast[cast.character == 'The Stranger'])

212

### How many roles has Sidney Poitier played throughout his career?

In [65]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [67]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [68]:
len(cast[cast.name == 'Judi Dench'])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [69]:
cast[(cast.n == 2) & (cast.name == 'Cary Grant') & (cast.year // 10 * 10 == 1940)].sort_values(['year'])

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [71]:
cast[(cast.name == 'Cary Grant') & (cast.n == 1) & (cast.year // 10 * 10 == 1940)].sort_values(['year'])

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [73]:
len(cast[(cast.year // 10 * 10 == 1950) & (cast.type == 'actor')])

157738

### How many roles were available for actresses in the 1950s?

In [74]:
len(cast[(cast.year // 10 * 10 == 1950) & (cast.type == 'actress')])

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [75]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [76]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [77]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

448347

In [6]:
len(titles)

244914